name: Docker Image CI

on:
  push:
    branches: [ github_actions_test, main ]
  pull_request:
    branches: [ github_actions_test, main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: cd $GITHUB_WORKSPACE && DOCKER_BUILDKIT=1 docker build --progress=plain -t panda_local_${{ github.sha }} .
      
  run_panda_tests:
    
    runs-on: ubuntu-latest
    needs: [build]
    
    strategy:
      matrix:
        test_script: [runInstructionTests_testRunInstructionsMemoryMips]
    
    steps:
    - name: run the tests inside the docker image
      run: >-
        docker run panda_local_${{ github.sha }};
        cd ./gitHubActionRunners;
        python3 ${{ matrix.test_script }}.py
  
  run_nonpanda_tests:
    
    runs-on: ubuntu-latest
    needs: [build]
    
    strategy:
      matrix:
        test_script: [bitGeneratorTests, filtererBasicMIPSTests, instructionGeneratorTests, verifierAdapterTests]
    
    steps:
    - name: run the tests inside the docker image
      run: >-
        docker run --name panda_test_${{ matrix.target }}_${GITHUB_RUN_ID}
        --rm -t "panda_local_${{ github.sha }}" bash -c
        cd ./gitHubActionRunners;
        python3 ${{ matrix.test_script }}.py
      
    
