name: Docker Image CI

on:
  push:
    branches: [ github_actions_test ]
  pull_request:
    branches: [ github_actions_test, main]

jobs:
  run_nonpanda_tests:
    
    runs-on: ubuntu-latest
    
    strategy:
      fail-fast: false
      matrix:
        test_script: [bitGeneratorTests]
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Build the Docker image
      run: cd $GITHUB_WORKSPACE && DOCKER_BUILDKIT=1 docker build --progress=plain -t panda_local .
    
    - name: debugging
      run: docker image ls
    
    - name: run the tests inside the docker image
      run: docker run python3 ./gitHubActionRunners/${{ matrix.test_script }}.py
      
    
